/*
	All buttons styles are here
*/

$buttons-breakpoint: small down;

.btn {
	display: inline-block;
	padding: $button-padding;
	min-width: $button-min-width;
	border: $button-border-width $button-fill $button-color;
	border-radius: $button-radius;
	text-align: center;
	font-size: $tablet-font-size-xsmall;
	cursor: pointer;
	transition: all $button-transition-time $button-transition-easing;

	@include breakpoint($buttons-breakpoint) {
		padding: $button-padding-mobile;
		min-width: $button-min-width-mobile;
		border-width: $button-border-width-mobile;
		font-size: $mobile-font-size-xsmall;
	}


	&--main {
		color: $button-color;
		&:hover {
			border-color: $button-background;
			color: $button-background;
		}
	}

	&--alt {
		border-color: $button-background;
		background-color: $button-background;
		color: $button-color-alt;
		&:hover {
			border-color: $button-background-hover;
			background-color: $button-background-hover;
		}
	}

	&--scroll-up {
		$border-color: transparentize($button-color, 0.3);
		$scroll-size: $button-scroll-up-size;

		position: fixed;
		right: rem-calc(20);
		bottom: rem-calc(20);
		z-index: 100;
		display: none;
		padding: 0;
		min-width: 0;
		width: $scroll-size;
		height: $scroll-size;
		border-color: $border-color;
		border-radius: 50%;

		@include breakpoint($buttons-breakpoint) {
			display: none !important;
		}

		&:before,
		&:after {
			position: absolute;
			left: 33.5%;
			display: block;
			width: $scroll-size * 0.3;
			height: $scroll-size * 0.3;
			border-top: $button-border-width solid $border-color;
			border-right: $button-border-width solid $border-color;
			content: '';
			transition: all $button-transition-time $button-transition-easing;
			transform: rotate(-45deg);
		}

		&:before {
			top: 35%;
		}

		&:after {
			top: 50%;
		}

		&:hover,
		&:hover:before,
		&:hover:after {
			border-color: $button-background;
		}
	}
}
