/*
		Styles for section ABOUT US
*/

// TODO занести все значения что можно в переменные
// TODO прописать локальный урл для картинок
// TODO размеры шрифтов записать переменными из файла настроек

.abus {
	padding: 5% 0;
	background-color: #eff1f7;

	&__header {
		color: #626262;
		font-size: $global-font-size-small;

		@include breakpoint(medium down) {
			color: #1a162f;
			text-align: center;
		}
	}

	&__descr {
		color: #626262;
		font-size: 0.7rem;

		@include breakpoint(medium down) {
			text-align: center;
		}
	}

	&__pic {
		margin-left: 150px;
		width: 315px;
		height: 240px;
		background: url('http://i.piccy.info/i9/7fcfea5e05d72302b2e443410d798936/1463248869/51614/1034032/map.png') no-repeat;
		background-size: contain;

		@include breakpoint(medium down){
			margin: 0 5%;
		}
	}

	&__prime {
		margin: 5% 0 0 0;
		padding: 0 13%;
		height: 100%;

		@include breakpoint(medium down){
			position: relative;
			padding: 0 5%;
		}
	}
}
