/*
		Styles for section ABOUT US
*/
$background-abus-color: #eff1f7;
$description-margin-bottom: 4px;
// TODO занести все значения что можно в переменные
// TODO прописать локальный урл для картинок
// TODO размеры шрифтов записать переменными из файла настроек

.about {
	padding: 5% 0 5% 0;
	background-color: $background-abus-color;

	&__header {
		color: #626262;
		font-size: $tablet-font-size-big;
		font-weight: bold;

		@include breakpoint(small only) {
			color: #1a162f;
			text-align: center;
		}
	}

	&__descr {
		color: #626262;
		font-size: 1rem;
		margin-bottom: $description-margin-bottom;
		font-weight: normal;
	}

	&__content {
		padding: 5% 10% 10% 5%;

		@include breakpoint(small only){
			position: static;
			width: 100%;
		}
	}
}
