/*
		Styles for section FEATURES
*/


$background-feautures-color: #f8f9fd;
$description-margin-bottom: 4px;
// TODO занести все значения что можно в переменные
// TODO прописать локальный урл для картинок
// TODO размеры шрифтов записать переменными из файла настроек
// TODO имена для классов неудачно выбраны

.features {
	position: relative;
	padding: 3% 0 10% 0;
	background-color: $background-feautures-color;
	overflow: hidden;


	&__header {
		color: #626262;
		font-size: $tablet-font-size-medium;
		font-weight: bold;

		@include breakpoint (small only) {
			color: #2e2a3e;
			text-align: center;
		}
	}

	&__descr {
		color: #626262;
		font-size: 1rem;
		margin-bottom: $description-margin-bottom;
		font-weight: normal;
	}

	&__content {
		padding: 5% 10% 10% 5%;

		@include breakpoint(small only) {
			position: static;
			width: 100%;
			padding-top: 0;
		}
	}
}

.pic{
	position: absolute;
	max-width: none;
	&__1{
		width: 125%;
	}
	&__2{
		width: 120%;
		padding-top: 50px;
	}
	&__3{
		width: 130%;
	}
	&__4{
		width: 90%;
	}
	@include breakpoint(small only){
		position: static;
		width: 100%;
	}
}
.picture{
	padding-top: 0;
	@include breakpoint(small only){
	}
}