<section class="about">
	<div class="row">
		<div class="small-6 column about__content picture">
		<div style="position: relative;">
		<img src="/assets/img/map.png" alt="map" class="pic pic__1"></div>
		</div>
		<div class="small-6 column about__content">
			<h4 class="about__header">About Us</h4>
			<p class="about__descr">A small company driven started in 2009. </p>
			<p class="about__descr"> Microsoft certified web and mobile developers.</p>
			<p class="about__descr">Our clients are mid-sized businesses and young start-ups.</p>
		</div>
	</div>
</section>