<section class="whys">
	<h2 class="whys__title">Why work with us</h2>
	<div class="row row--large">
		<div class="small-12 medium-4 large-4 columns whys__columns--mod whys__column1--mod">
			<div class="whys__heading-wrapper">
				<h3 class="whys__column-heading"><i class="icon-main-1 whys__icon--mod"></i>Complex Projects</h3>
			</div>
			<p class="whys__descr">We are a full-cycle development company. That means we deliver complex solutions – not just usual code.</p>
			<p class="whys__descr">We work our hardest to resolve our clients’ problems, not just meet their requirements.</p>
		</div>
		<div class="small-12 medium-4 large-4 columns whys__columns--mod whys__column2--mod">
			<div class="whys__heading-wrapper">
				<h3 class="whys__column-heading"><i class="icon-main-2  whys__icon--mod"></i>We’re People Persons</h3>
			</div>
			<p class="whys__descr">Every great product requires a great person behind it. We commit to having a staff of energetic and cooperative people alike. It really matters to us.</p>
			<p class="whys__descr">Our two most important staff reuirements are technical skills and personality. </p>
			<p class="whys__descr">Additionally, we view development as a continuously growing field, meaning we’re constantly learning. This lets us achieve all of your proucts potential.</p>
		</div>
		<div class="small-12 medium-4 large-4 columns whys__columns--mod whys__column3--mod">
			<div class="whys__heading-wrapper">
				<h3 class="whys__column-heading"><i class="icon-main-3  whys__icon--mod"></i>High Quality</h3>
			</div>
			<p class="whys__descr">We can all agree that you probably don’t think about what brand of flashlight you buy at the store.</p>
			<p class="whys__descr">But if we think about cars, you would probably take the company producing the car into deep consideration.</p>
			<p class="whys__descr">If your next idea is worth more to you than a flashlight, then make sure that you get the best quality possible. And that’s us: we have a guarantee of high quality development.</p>
		</div>
	</div>
</section>