<section class="features">
	<div class="row">
		<div class="small-6 column small-push-6 picture features__content"><img src="/assets/img/enterprise.png" class="pic pic__2"></div>
		<div class="small-6 column small-pull-6  features__content">
			<h4 class="features__header">Enterprise standards of development </h4>
			<p class="features__descr">Our primary agile framework is “Scrum.” </p>
			<p class="features__descr">Before committing to the QA environment, we
				perform Code Reviews and Unit testing.
			</p>
			<p class="features__descr">Our continuous integration server helps QAs
				effectively run their test cases.
			</p>
			<p class="features__descr">For large projects, we create release notes and
			deployment instructions.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-6 column picture features__content">
		<div style="position: relative;">
		<img src="/assets/img/1.png" class="pic pic__3">
		</div>
		</div>
		<div class="small-6 column features__content">
			<h4 class="features__header">Model of cooperation</h4>
			<p class="features__descr">Our development mostly runs on a per hour basis. </p>
			<p class="features__descr">However, we are open to offering a fixed pric
			model with per milestone payments. </p>
			<p class="features__descr">If you choose the fixed price model, we will
				allocate a dedicated project manager to handle
			all the messy stuff.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-6 column small-push-6 picture features__content"><img src="/assets/img/2.png" alt="pic" class="pic pic__4"></div>
		<div class="small-6 column small-pull-6 features__content">
			<h4 class="features__header">We’re Experts with</h4>
			<p class="features__descr">Online management systems: ERP, CRM, HRMS
			and Healthcare solutions. </p>
			<p class="features__descr">Marketplaces like EBay, AirBnB, Yelp and Craigslist. </p>
			<p class="features__descr">Mobile development like Uber, Letgo and JustEat
				SaaS systems like white-label widgets and tracking
			systems.</p>
		</div>
	</div>
</section>