<footer class="footer-main">
	<div class="row">
		<div class="small-6 medium-4 large-4 columns footer-main__columns--mod footer-main__column1--mod">
			<ul class="footer-main__nav-list">
				<li><a href="#">Home</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Technologies</a></li>
				<li><a href="#">Build a marketplace</a></li>
				<li><a href="#">Model of cooperation</a></li>
				<li><a href="#">Why us?</a></li>
			</ul>
		</div>

		<div class="small-6 medium-4 large-4 columns footer-main__columns--mod footer-main__column2--mod">
			<a class="column2__links" href="#"><p><i class="icon-main-4 footer-main__icon--mod-1"></i>Empeek presentation</p></a>
			<a class="column2__links" href="#"><p><i class="icon-main-5 footer-main__icon--mod-1"></i>Example of architecture</p></a>
			<a class="column2__links" href="#"><p><i class="icon-main-6 footer-main__icon--mod-1"></i>Sample application code</p></a>
		</div>

		<div class="small-12 medium-4 large-4 columns footer-main__columns--mod footer-main__column3--mod">
			<p class="footer-main__address">Ukraine, Lviv, 79000</p>
			<div class="footer-main__social">
				<a href="#"><i class="icon-main-7"></i></a>
				<a href="#"><i class="icon-main-8"></i></a>
				<a href="#"><i class="icon-main-9"></i></a>
			</div>
			<a href="#" class="btn btn--main btn-medium--mod">Contact us</a>
		</div>
	</div>
</footer>